.landing_page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.landing_page > div{
    padding: 0px 64px;

}
.explore_button{
    border: none;
}
.explore_button > a{
    text-decoration: none;
    padding: 16px 32px;
    border-radius:8px;
    background-color: #FF7033;
    color: #f1f1f1;
    border: none;
    font-size: 18px;
    font-weight: bold;
}
.cardsContainer{
    position: absolute;
    top: 20%;
    right: 64px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    z-index: -1;
}
.cardsContainer > img{
    z-index: -1;
}
.landing_page > div > h1{
    font-size: 48px;
    margin: 36px 0px;
    z-index: 10;
}
.landing_page p{
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 24px;
    margin-right: 0px;
    margin-left: 0px;
}
h1,p{
    color: #FF7033;
    z-index: 10 ;
}
.button:hover{
    background-color: #FF7033;
    color: #f1f1f1;
}

.landing_page_image{
    width: 700px;
    height: auto;
    border-radius: 200px;
    position: absolute;
    top: 20%;
    right: 64px;
    z-index: -2;
}
.wave{
    z-index: -2;
}

/*media query for 2560px width*/
@media (max-width: 2560px) {
    .landing_page_image{
        width: 700px;
        height: auto;
        border-radius: 200px;
        position: absolute;
        top: 20%;
        right: 64px;
        z-index: -2;
    }
    .landing_page{
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }
    .landing_page > div{
        padding: 0px 64px;
    
    }
    .explore_button{
        border: none;
    }
    .explore_button > a{
        text-decoration: none;
        padding: 16px 32px;
        border-radius:8px;
        background-color: #FF7033;
        color: #f1f1f1;
        border: none;
        font-size: 18px;
        font-weight: bold;
    }
    .cardsContainer{
        position: absolute;
        top: 20%;
        right: 64px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        z-index: -1;
    }
    .cardsContainer > img{
        z-index: -1;
    }
    .landing_page > div > h1{
        font-size: 48px;
        margin: 36px 0px;
        z-index: 10;
    }
    .landing_page p{
        font-size: 24px;
        margin-top: 0px;
        margin-bottom: 24px;
        margin-right: 0px;
        margin-left: 0px;
    }
    h1,p{
        color: #FF7033;
        z-index: 10 ;
    }
    .button:hover{
        background-color: #FF7033;
        color: #f1f1f1;
    }
    
    .wave{
        z-index: -2;
    }
}

/*media query for screen size 1600 width*/ 
@media (max-width: 1600px) {
    .landing_page_image{
        width: 600px;
        height: auto;
        border-radius: 200px;
        position: absolute;
        top: 20%;
        right: 64px;
        z-index: -2;
    }
    .landing_page{
        height:100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }
    .landing_page > div{
        padding: 0px 64px;
    
    }
    .explore_button{
        border: none;
    }
    .explore_button > a{
        text-decoration: none;
        padding: 16px 32px;
        border-radius:8px;
        background-color: #FF7033;
        color: #f1f1f1;
        border: none;
        font-size: 18px;
        font-weight: bold;
    }
    .cardsContainer{
        position: absolute;
        top: 20%;
        right: 64px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        z-index: -1;
    }
    .cardsContainer > img{
        z-index: -1;
    }
    .landing_page > div > h1{
        font-size: 48px;
        margin: 36px 0px;
        z-index: 10;
    }
    .landing_page p{
        font-size: 24px;
        margin-top: 0px;
        margin-bottom: 24px;
        margin-right: 0px;
        margin-left: 0px;
    }
    h1,p{
        color: #FF7033;
        z-index: 10 ;
    }
    .button:hover{
        background-color: #FF7033;
        color: #f1f1f1;
    }
    
    .wave{
        z-index: -2;
    }
}
/*media query for screen size 1440 width*/
@media (max-width: 1440px) {
    .landing_page_image{
        width: 480px;
        height: auto;
        border-radius: 200px;
        position: absolute;
        top: 20%;
        right: 64px;
        z-index: -2;
    }
    .landing_page{
        height:100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }
    .landing_page > div{
        padding: 0px 64px;
    
    }
    .explore_button{
        border: none;
    }
    .explore_button > a{
        text-decoration: none;
        padding: 16px 32px;
        border-radius:8px;
        background-color: #FF7033;
        color: #f1f1f1;
        border: none;
        font-size: 18px;
        font-weight: bold;
    }
    .cardsContainer{
        position: absolute;
        top: 20%;
        right: 64px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        z-index: -1;
        transform: scale(0.9);
    }
    .cardsContainer > img{
        z-index: -1;
    }
    .landing_page > div > h1{
        font-size: 48px;
        margin: 36px 0px;
        z-index: 10;
    }
    .landing_page p{
        font-size: 24px;
        margin-top: 0px;
        margin-bottom: 24px;
        margin-right: 0px;
        margin-left: 0px;
    }
    h1,p{
        color: #FF7033;
        z-index: 10 ;
    }
    .button:hover{
        background-color: #FF7033;
        color: #f1f1f1;
    }
    
    .wave{
        z-index: -2;
    }
}

/*media query for screen size 1366 width*/
@media (max-width: 1366px) {
    .landing_page_image{
        width: 470px;
        height: auto;
        border-radius: 200px;
        position: absolute;
        top: 20%;
        right: 64px;
        z-index: -2;
    }
    .landing_page{
        height:100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }
    .landing_page > div{
        padding: 0px 64px;
    
    }
    .explore_button{
        border: none;
    }
    .explore_button > a{
        text-decoration: none;
        padding: 16px 32px;
        border-radius:8px;
        background-color: #FF7033;
        color: #f1f1f1;
        border: none;
        font-size: 18px;
        font-weight: bold;
    }
    .cardsContainer{
        position: absolute;
        top: 20%;
        right: 64px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        z-index: -1;
        transform: scale(0.8);
    }
    .cardsContainer > img{
        z-index: -1;
    }
    .landing_page > div > h1{
        font-size: 48px;
        margin: 36px 0px;
        z-index: 10;
    }
    .landing_page p{
        font-size: 24px;
        margin-top: 0px;
        margin-bottom: 24px;
        margin-right: 0px;
        margin-left: 0px;
    }
    h1,p{
        color: #FF7033;
        z-index: 10 ;
    }
    .button:hover{
        background-color: #FF7033;
        color: #f1f1f1;
    }
    
    .wave{
        z-index: -2;
    }
}

/*media query for screen size 1280 width*/
@media (max-width: 1280px) {
    .landing_page_image{
        width: 450px;
        height: auto;
        border-radius: 200px;
        position: absolute;
        top: 20%;
        right: 64px;
        z-index: -2;
    }
    .landing_page{
        height:100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }
    .landing_page > div{
        padding: 0px 32px;
    
    }
    .explore_button{
        border: none;
    }
    .explore_button > a{
        text-decoration: none;
        padding: 16px 32px;
        border-radius:8px;
        background-color: #FF7033;
        color: #f1f1f1;
        border: none;
        font-size: 18px;
        font-weight: bold;
    }
    .cardsContainer{
        position: absolute;
        top: 20%;
        right: 64px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        z-index: -1;
        transform: scale(0.7);
    }
    .cardsContainer > img{
        z-index: -1;
    }
    .landing_page > div > h1{
        font-size: 48px;
        margin: 36px 0px;
        z-index: 10;
    }
    .landing_page p{
        font-size: 24px;
        margin-top: 0px;
        margin-bottom: 24px;
        margin-right: 0px;
        margin-left: 0px;
    }
    h1,p{
        color: #FF7033;
        z-index: 10 ;
    }
    .button:hover{
        background-color: #FF7033;
        color: #f1f1f1;
    }
    
    .wave{
        z-index: -2;
    }
}

/*media query for screen size 1024 width*/
@media (max-width: 1024px) {
    .landing_page_image{
        width: 400px;
        height: auto;
        border-radius: 200px;
        position: absolute;
        top: 20%;
        right: 64px;
        z-index: -2;
    }
    .landing_page{
        height:100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }
    .landing_page > div{
        padding: 0px 32px;
    
    }
    .explore_button{
        border: none;
    }
    .explore_button > a{
        text-decoration: none;
        padding: 16px 32px;
        border-radius:8px;
        background-color: #FF7033;
        color: #f1f1f1;
        border: none;
        font-size: 18px;
        font-weight: bold;
    }
    .cardsContainer{
        position: absolute;
        top: 20%;
        right: 64px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        transform: scale(0.6);
        z-index: -1;
    }
    .cardsContainer > img{
        z-index: -1;
    }
    .landing_page > div > h1{
        font-size: 48px;
        margin: 36px 0px;
        z-index: 10;
    }
    .landing_page p{
        font-size: 24px;
        margin-top: 0px;
        margin-bottom: 24px;
        margin-right: 0px;
        margin-left: 0px;
    }
    h1,p{
        color: #FF7033;
        z-index: 10 ;
    }
    .button:hover{
        background-color: #FF7033;
        color: #f1f1f1;
    }
    
    .wave{
        z-index: -2;
    }
}

/*media query for screen size 768 width*/
@media (max-width: 768px) {
    .landing_page_image{
        width: 500px;
        height: auto;
        border-radius: 200px;
        position: absolute;
        top: 20%;
        right: 64px;
        z-index: -2;
    }
    .landing_page{
        height:100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }
    .landing_page > div{
        padding: 0px 32px;
    
    }
    .explore_button{
        border: none;
    }
    .explore_button > a{
        text-decoration: none;
        padding: 16px 32px;
        border-radius:8px;
        background-color: #FF7033;
        color: #f1f1f1;
        border: none;
        font-size: 18px;
        font-weight: bold;
    }
    .cardsContainer{
        position: absolute;
        top: 20%;
        right: 64px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        z-index: -1;
    }
    .cardsContainer > img{
        z-index: -1;
    }
    .landing_page > div > h1{
        font-size: 48px;
        margin: 36px 0px;
        z-index: 10;
    }
    .landing_page p{
        font-size: 24px;
        margin-top: 0px;
        margin-bottom: 24px;
        margin-right: 0px;
        margin-left: 0px;
    }
    h1,p{
        color: #FF7033;
        z-index: 10 ;
    }
    .button:hover{
        background-color: #FF7033;
        color: #f1f1f1;
    }
    
    .wave{
        z-index: -2;
    }
}

/*media query for screen size 425 width*/
@media (max-width: 550px) {
    .landing_page_image{
        display: none;
    }
    .landing_page{
        height:100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }
    .landing_page > div{
        padding: 0px 16px;
    
    }
    .explore_button{
        border: none;
    }
    .explore_button > a{
        text-decoration: none;
        padding: 16px 32px;
        border-radius:8px;
        background-color: #FF7033;
        color: #f1f1f1;
        border: none;
        font-size: 18px;
        font-weight: bold;
    }
    .cardsContainer{
       display: none;
    }
    .cardsContainer > img{
        display: none;
    }
    .landing_page > div > h1{
        font-size: 24px;
        margin: 24px 0px;
    }
    .button:hover{
        background-color: #FF7033;
        color: #f1f1f1;
    }
}

/* media queries for tablet devices includes both width and height*/
@media (max-width: 1536px) and (max-height: 2048px) {
    .landing_page_image{
        width: 400px;
        height: auto;
        border-radius: 200px;
        position: absolute;
        top: 20%;
        right: 64px;
        z-index: -2;
    }
    .landing_page{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }
    .landing_page > div{
        padding: 0px 16px;
    
    }
    .explore_button{
        border: none;
    }
    .explore_button > a{
        text-decoration: none;
        padding: 16px 32px;
        border-radius:8px;
        background-color: #FF7033;
        color: #f1f1f1;
        border: none;
        font-size: 18px;
        font-weight: bold;
    }
    .cardsContainer{
        position: absolute;
        top: 20%;
        right: 64px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        z-index: -1;
        transform: scale(0.6);
    }
    .cardsContainer > img{
        z-index: -1;
    }
    .landing_page > div > h1{
        font-size: 32px;
        margin: 36px 0px;
        z-index: 10;
    }
    .landing_page p{
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 24px;
        margin-right: 0px;
        margin-left: 0px;
    }
    h1,p{
        color: #FF7033;
        z-index: 10 ;
    }
    .button:hover{
        background-color: #FF7033;
        color: #f1f1f1;
    }
    
    .wave{
        z-index: -2;
    }
}

